html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-image: url("./background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 2000px;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f3f3f3;
}